.notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    animation: notification 2s forwards;
}

@keyframes notification {
    0% {
        transform: translate(-50%, -50%) scaleY(0) scaleX(0);
    }
    15%,
    90% {
        transform: translate(-50%, -50%) scaleY(1) scaleX(1);
    }
    95% {
        transform: translate(-50%, -50%) scaleY(0.1) scaleX(1);
    }
    100% {
        transform: translate(-50%, -50%) scaleY(0) scaleX(3);
    }
}
